.default-button {
    display: none;
}

.control {
    position: fixed;
    bottom: 0%;
}

.hand {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card {
    font-size: 40px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 3px gray;
    transition: background 0.2s;
    background: #FFFFFF;
}

.card p {
    line-height: 1;
    vertical-align: middle;
}

.card:hover {
    background: #E2E2E2;
}

.unselected {
    background: #FFFFFF;
}

.selected {
    background: #B5B5B5;
}

.plays {
    display: none;
    margin: auto;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 340px;
    width: 330px;
    background: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.turn {
    display: flex;
    align-items: center;
    width: 350px;
    height: 68px;
}

.played-card {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 40px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin: 5px;
    background: white;
}
