body {
    font-family: arial;
}

.info-box {
    margin: 5px auto;
    padding: 10px;
    background: #EDEDED;
    border: 2px solid #E3E3E3;
    border-radius: 5px;
    max-width: 1000px;
}

.title {
    font-size: 30px;
}

.game-settings {
    line-height: 1.5;
    background: #FFFFFF;
}

/* Create, join, start buttons */ 
.setting-button {
    display: inline-block;
}

/* Container for entire game */
.game {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1000px;
}

/* Container for game buttons and cards */
.control {
    margin-top: 50px;
    width: 100%;
}

/* Container for play and pass buttons */
.game-buttons {
    display: flex;
    justify-content: center;
}

/* Play and pass buttons */
.game-button {
    display: inline-block;
    margin: 5px;
    width: 20%;
    height: 50px;
}

/* Container for cards in hand */
.hand {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1000px;
}

/* Card (in hand only) */
.card {
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 5px;
    width: 7.5vh;
    height: 10.5vh;
    line-height: 10.5vh;
    text-align: center;
    margin: 5px;
    box-shadow: 1px 1px 3px gray;
    transition: background 0.2s;
    background: #FFFFFF;
}

.card p {
    line-height: 1;
    vertical-align: middle;
}

.unselected {
    background: #FFFFFF;
}

.selected {
    background: #E2E2E2;
}

/* Container for turns */
.plays {
    display: none;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 340px;
    width: 330px;
    background: #EDEDED;
    padding: 10px;
    border: 2px solid #E3E3E3;
    border-radius: 10px;
}

/* A turn with cards or a pass */
.turn {
    display: flex;
    align-items: center;
    width: 350px;
    height: 68px;
}

/* Cards that have been played */
.played-card {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 40px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin: 5px;
    background: #FFFFFF;
}

/* Container for other player information */
.player-info {
    display: none;
    margin: 5px;
    padding: 5px;
    border: 2px solid #E3E3E3;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background: #EDEDED;
    text-align: center;
    transition: background 0.2s;
}

/* Cards in player-info storing size of hands */
.info-card {
    margin: 10px auto;
}

/* Overlay for game over notification */
.dim-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 100%;
    height: 100%;
}

.overlay-card {
    position: absolute;
    margin: -200px -200px;
    background: #FFFFFF;
    width: 400px;
    height: 400px;
    border: 2px solid #E3E3E3;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    text-align: center;
}

.overlay-header {
    margin: 50px;
    font-size: 20px;
}

.overlay-buttons {
    display: flex;
    position: absolute;
    bottom: 50px;
    width: 100%;
    justify-content: space-around;
}

.overlay-button {
    height: 50px;
    width: 150px;
}
